<!DOCTYPE html>
<html>
      <head>
           <title> new Project</title>
           <link rel="stylesheet"  href="css/style.css" />
      </head>
      <body>
        
          <h2 class="hedt1"> {{title}}</h2>

          <div class="header1" >
            <a href="/">Weather</a>
            <a href="/home">Home</a>
           
      
          </div>
          
      </body>
</html>